body {
    font-family: 'Poppins', sans-serif;
  }
  
  #heroGrid { /* Grid CSS code */
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    height: 70vh;
    grid-template-columns: 75% 25%;
    grid-template-rows: 75% 25%;
    grid-template-areas: 
    "myWork secondaryProject"
    "myWork CTA";
  }


  #myWork {
      grid-area: myWork;
      background-image: url("../UX_UI_HW_18/images/Youwhowhite.png");
  }

  #secondaryProject {
      grid-area: secondaryProject;
      background-image: url("../UX_UI_HW_18/images/Appleone.jpeg");
  }

  #CTA {
      grid-area: CTA;
      background-image: url("../UX_UI_HW_18/images/chrome.jpeg");
      justify-content: space-around;
      cursor: pointer;
  }
  
  #headline {
    background-color: rgba(255,255,255,0.8);
    border-bottom: 5px solid blue;
    position: absolute;
    right: -50px;
    top: 100px;
    padding: 25px;
    max-width: 550px;
    z-index: 100;
  }

  .heroGridArea {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      display: flex;
      position: relative;
  }

  /* Navigation CSS */
  #navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
  }
  #navBar h1 {
    width: 25%;
    font-weight: 500;
  }
  #navigation {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
  }
  #navigation p {
    cursor: pointer;
    text-decoration: none;
  }
  .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
  }
  .icons img {
    margin: 15px;
    cursor: pointer;
  }
  .highlight {
    color: blue;
    font-weight: 700;
  }
  
  /* Typography CSS */
  
  h2 {
    font-size: 60px;
    margin: 0px 0px;
    color: blue;
  }

  h2:hover {
      color: yellow;
  }
  
  h3 {
    font-size: 32px;
    font-weight: 300;
    margin: 0px 0px;
  }

  h4 {
    color: white;
    font-weight: 400;
    font-size: 22px;
  }
  h4:hover {
      color: yellow;
  }
  
  #headline p {
    max-width: 350px;
    font-size: 16px;
    font-weight: 300;
    margin: 0px 0px;
    color: #636364;
  }

  @media only screen and (max-width: 1000px) {
    #navigation {
      display: none;
    }
    .icons {
      margin-left: auto;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #headline {
      position: static;
      margin: 20px;
    }
    #heroGrid {
      grid-template-areas:
      "myWork myWork"
      "secondaryProject CTA";
    }
    #categoryGrid {
      grid-template-rows: 300px 300px 300px 300px 300px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "LISTr"
        "USDE"
        "iPad"
        "moreArt"
        "iMac"
      ;
    }
  }

  #mywork {
      grid-area: myWork;
      background-image: url("../UX_UI_HW_18/images/YOUWHO.png");
  }
  
  #secondaryProject {
      grid-area: secondaryProject;
      background-image: url("../UX_UI_HW_18/images/Appleone.jpeg");
  }

  #CTA {
      grid-area: CTA;
      background-image: url("../UX_UI_HW_18/images/chrome.jpeg");
  }

  /* Category Grid CSS */

.subHeading {
    text-align: center;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 50px auto;
  }
  
  #categoryGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "LISTr USDE iPad"
    "moreArt moreArt iPad"
    "iMac iMac iMac"
    ;
  }
  
  #LISTr {
    grid-area: LISTr;
    background-image: url("../UX_UI_HW_18/images/LISTR.png");
  
  }
  #USDE {
    grid-area: USDE;
    background-image: url("../UX_UI_HW_18/images/DOE.png");
  }
  
  #moreArt {
    grid-area: moreArt;
    background-image: url("../UX_UI_HW_18/images/MoreArtMobile.png");
  }

  #iPad {
      grid-area: iPad;
      background-image: url("../UX_UI_HW_18/images/ipad.jpeg");
  }

  #iMac {
      grid-area: iMac;
      background-image: url("../UX_UI_HW_18/images/imac.jpg");
  }


  .categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }
  
  .heading {
    background-color: rgba(0,0,0,0.7);
    padding: 15px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid blue;
  }

